<!DOCTYPE html>
<html>
<head>
    <title>嵌入思维导图页面</title>
    <style>
        /* 调整外部容器的宽度和高度，隐藏滚动条 */
        .iframe-container {
            width: 100%;
            height: 800px;
            overflow: hidden;
        }

        /* 嵌入iframe，并设置宽度和高度为100%以适配容器 */
        .mindmap-iframe {
            width: 100%;
            height: 100%;
            border: none; /* 去除iframe边框 */
        }
    </style>
</head>
<body>

<!-- 使用外部容器包裹iframe，实现美观的展示 -->
<div class="iframe-container">
    <iframe class="mindmap-iframe" src="https://www.processon.com/view/link/64a4206e1906b32056013a12"></iframe>
</div>

</body>
</html>
