<!DOCTYPE html>
<html lang="Zh-CN">
<head>
  <meta charset="utf-8">
  <title>温柔刷题群</title>
  <!-- Link CSS -->
  <link rel="stylesheet" href="../front/css/style2.css">
</head>
<body>
	<ul>
		<li><a href="country">温柔三国</a></li>
		<li><a href="dayPromblem">刷题日榜</a></li>
		<li><a href="weekPromblem">刷题周榜</a></li>
		<li><a href="fly_table">飞升榜</a></li>
		<li><a href="query_table">凡人榜</a></li>
		<li><a href="gostudy">后端学习秘籍</a></li>
		<li><a href="https://space.bilibili.com/100467161">联系我们</a></li>
	</ul>
</body>
</html>