<!DOCTYPE html>
<html lang="Zh-CN">
<head>
    <meta charset="utf-8">
    <title>温柔刷题群-注册</title>
    <!-- Link CSS -->
    <link rel="stylesheet" href="../front/css/login.css">
    <style>
        .centered-container {
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>
<div class="my-login-box">
    <h2>Sign Up</h2>
    <form id="SignUpForm">
        <div class="user-box">
            <input type="text" name="username" required>
            <label>用户名</label>
        </div>

        <div class="user-box">
            <input type="text" name="qq" required>
            <label>QQ号</label>
        </div>

        <div class="user-box">
            <input type="text" name="lcusername" required>
            <label>力扣用户名</label>
        </div>

        <div class="user-box">
            <input type="password" name="password" required>
            <label>密码</label>
        </div>
        <div class="user-box">
            <input type="password" name="confirmPassword" required>
            <label>确认密码</label>
        </div>
        <div class="user-box">
            <input type="text" name="captcha" required>
            <label>验证码</label>
            <img id="captchaImage" src="" alt="验证码" style="display: none;">
            <input type="hidden" name="captcha_id" value="" >
        </div>


        <a href="#" id="registerLink">
            <span></span>
            <span></span>
            <span></span>
            <span></span> 注册
        </a>

    </form>

</div>


<script>
    // Function to fetch captcha and update the captcha image
    function fetchCaptcha() {
        fetch("auth/verify-codes/captcha", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            }
        })
            .then(response => response.json())
            .then(data => {
                // Update the captcha image and store captcha ID
                document.getElementById("captchaImage").src = data.captcha_image;
                document.getElementsByName("captcha_id")[0].value = data.captcha_id;
            })
            .catch(error => {
                console.error("Error fetching captcha:", error);
                // Handle any errors that occurred during fetching the captcha
            });
    }


    // 当用户点击验证码输入框时显示验证码图片
    document.getElementsByName("captcha")[0].addEventListener("focus", function() {
        // 获取验证码并更新验证码图片
        fetchCaptcha();
        document.getElementById("captchaImage").style.display = "block";
    });


    // Add event listener to update captcha when clicking on the captcha image
    document.getElementById("captchaImage").addEventListener("click", function() {
        fetchCaptcha();
    });

    function handleSignUpClick() {
        // Get the login form element
        const SignUpForm = document.getElementById('SignUpForm');

        // Get the form data
        const formData = {
            name: SignUpForm.username.value,
            qq: SignUpForm.qq.value,
            password: SignUpForm.password.value,
            password_confirm: SignUpForm.confirmPassword.value,
            captcha_answer: SignUpForm.captcha.value,
            captcha_id: SignUpForm.captcha_id.value,
            LCUserName: SignUpForm.lcusername.value,
        };

        // Send the form data to the backend using fetch API
        fetch("auth/signup/using-qq", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(formData)
        })
            .then(response => response.json())
            .then(data => {
                // Handle the response from the backend
                // 'data' here will contain the response sent from the backend
                // You can process the data or show messages based on the response
                console.log(data)
                if (data.token) {
                    sessionStorage.setItem('token', data.token);
                    // 弹出确认框
                    let confirmation = window.confirm('注册成功！点击确认跳转到温柔三国。');
                    if (confirmation) {
                        // 用户点击确认，跳转到其他页面
                        window.location.href = '/v1/home'; // 替换'/v1'为您要跳转的页面URL
                    } else {
                        // 用户点击取消，可以根据需要执行其他操作
                        // 例如：显示其他提示信息，或者停留在当前页面
                    }
                } else {
                    let confirmation = window.confirm('注册失败！用户名或密码或验证码有误');
                    if (confirmation) {
                        // 用户点击确认，跳转到其他页面
                    } else {
                        // 用户点击取消，可以根据需要执行其他操作
                    }
                }

            })
            .catch(error => {
                let confirmation = window.confirm('注册失败！用户名或者密码有误');
                if (confirmation) {
                    // 用户点击确认，跳转到其他页面
                } else {
                    // 用户点击取消，可以根据需要执行其他操作
                    // 例如：显示其他提示信息，或者停留在当前页面
                }
                // Handle any errors that occurred during the fetch or backend processing
            });
    }

    // Add click event listener to the login link
    document.getElementById('registerLink').addEventListener('click', (event) => {
        event.preventDefault();
        handleSignUpClick();
    });




</script>

</body>
</html>
